In [2]:
import pandas as pd
import requests

In [3]:
url = "https://coronavirus.m.pipedream.net/"

payload = {}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

data = response.json()

In [4]:
df = pd.DataFrame(data['rawData'])

In [5]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,,,,Afghanistan,2023-03-10 04:21:03,33.93911,67.709953,209451,7896,,,Afghanistan,538.0424508714615,3.76985547932452
1,,,,Albania,2023-03-10 04:21:03,41.1533,20.1683,334457,3598,,,Albania,11621.96817012996,1.075773567304616
2,,,,Algeria,2023-03-10 04:21:03,28.0339,1.6596,271496,6881,,,Algeria,619.132365905185,2.534475646050034
3,,,,Andorra,2023-03-10 04:21:03,42.5063,1.5218,47890,165,,,Andorra,61981.49226687375,0.34453956984756734
4,,,,Angola,2023-03-10 04:21:03,-11.2027,17.8739,105288,1933,,,Angola,320.35277020195906,1.835916723653218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,,,,West Bank and Gaza,2023-03-10 04:21:03,31.9522,35.2332,703228,5708,,,West Bank and Gaza,13784.956960969268,0.8116855415313383
4012,,,,Winter Olympics 2022,2023-03-10 04:21:03,39.9042,116.4074,535,0,,,Winter Olympics 2022,,0.0
4013,,,,Yemen,2023-03-10 04:21:03,15.552727,48.516388,11945,2159,,,Yemen,40.04899354817252,18.07450816241105
4014,,,,Zambia,2023-03-10 04:21:03,-13.133897,27.849332,343135,4057,,,Zambia,1866.491629984319,1.1823334839057513
4015,,,,Zimbabwe,2023-03-10 04:21:03,-19.015438,29.154857,264276,5671,,,Zimbabwe,1778.0885285919792,2.1458626587355645

In [6]:
df_turkiye = df[df["Combined_Key"] == "Turkey"]

In [7]:
df_turkiye

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
676,,,,Turkey,2023-01-30 23:20:55,38.9637,35.2433,17042722,101492,,,Turkey,20207.38740209208,0.5955151999780317

In [8]:
df.to_excel("coronavirus.xlsx")